<h1>Welcome to Edynak University</h1>
<h3>Trusted by millions as their preferred online learning platform</h3>
<h5>Please register an account or sign in to continue</h5>
<%= link_to "Terms Of Use", terms_of_use_path %>
<%= link_to "Privacy Policy", privacy_policy_path %>
<%= link_to "Cookie Policy", cookie_policy_path %>